{% extends 'base.html.twig' %}

{% block title %}Les produits {% endblock %}

{% block content %}


<div class="example-wrapper">
    <h1 class="">Nos produits</h1>

    <div class="row">
    {% for product in products %}
        <div class="product-item text-center">
            <h5>{{product.name}} </h5>
            <span class="product-subtitle">{{ product.subtitle}} </span>
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name}}" class="img-fluid"/>
            <span class="product-price">{{ product.price / 100 | number_format(2)}} € </span>
        </div>
    {% endfor %}
    
</div>
{% endblock %}
