{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} {% endblock %}

{% block content %}


<div class="example-wrapper">
    <h1 class="">{{product.name}}</h1>
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration}}" alt="{{product.name}}" class="img-fluid" />
        </div>
        <div class="col-md-7">
            <H3>{{product.name}} </H3>
            <p>{{product.subtitle}}</p>
            <hr>
            <p> {{product.price /100|number_format(2)}} €</p>
            <p>{{product.description}} </p>
            <a href="{{ path('add_cart', {'id': product.id}) }}" class="btn btn-primary"> Ajouter au panier </a>
        </div>
    </div>
</div>
{% endblock %}
